<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="design_project_ee3070.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <design_project_ee3070.Properties.Settings>
            <setting name="set_string_db_user" serializeAs="String">
                <value>FAPDadmin</value>
            </setting>
            <setting name="set_string_db_pw" serializeAs="String">
                <value>FAPDadmin</value>
            </setting>
            <setting name="set_string_db_dbname" serializeAs="String">
                <value>dp_db</value>
            </setting>
            <setting name="set_string_db_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="set_string_db_host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </design_project_ee3070.Properties.Settings>
    </userSettings>
</configuration>